<div class="app-login">
  <div class="container">
    <div class="row justify-content-center">
      
      <div class="col-12 col-md-7 col-lg-5 my-5" >
        
           <div class="sidebar-logo">
            <a routerLink="/">
            </a>
          </div>

        <nz-card class="shadow-lg" *ngIf="!telaRecuperarSenha">
          <form
            nz-form
            nzLayout="vertical"
            [formGroup]="loginForm"
            (ngSubmit)="submitLoginForm()"
          >
            <h2 class="m-b-0 text-center">Faça seu login</h2>
            <div class="text-center mt-4">
            </div>

            <nz-form-item>
              <nz-form-label nzFor="login">Login</nz-form-label>
              <nz-form-control>
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input formControlName="login" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzFor="senha">Senha</nz-form-label>
              <nz-form-control>
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="senha" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <button
              nz-button
              [nzType]="'primary'"
              nzBlock
              nzSize="large"
              class="mt-4"
              [nzLoading]="loading"
            >
              Entrar
            </button>
          </form>
        </nz-card>

        <nz-card class="shadow-lg"  *ngIf="telaRecuperarSenha">
          <h2 class="m-b-0 text-center">Recuperar Senha</h2>
          <form nz-form nzLayout="vertical" (ngSubmit)="submitRecuperarSenha()">
            <div class="row">
              <div class="col">
                <nz-form-item>
                  <nz-form-label nzFor="nome">Login</nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input [(ngModel)]="usuarioLogin" [ngModelOptions]="{standalone: true}"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <button nz-button [nzType]="'default'" nzBlock nzSize="large" class="mt-4"
                  (click)="fecharRecuperarSenha()">
                  Voltar
                </button>
              </div>
              <div class="col">
                <button nz-button [nzType]="'primary'" nzBlock nzSize="large" class="mt-4" [nzLoading]="loading">
                  Enviar
                </button>
              </div>
            </div>
          </form>
        </nz-card>

      </div>

    


    </div>
  </div>
</div>
