<form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="submit()">

    <div class="row">

        <div class="col-12">
            <nz-form-item>
                <nz-form-label>Usuário:</nz-form-label>
                <nz-form-control>
                    <nz-select nzPlaceHolder="usuarios" nzShowSearch [nzOptions]="usuarios" nzSize="large"
                        style="width: 100%;" formControlName="idUsuario">
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

    </div>

    <div class="row">

        <div class="col-12">
            <nz-form-item>
                <nz-form-label nzFor="descricao">Descrição</nz-form-label>
                <nz-form-control>
                    <textarea type="text" nz-input formControlName="descricao"> </textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <nz-form-item>
                <nz-form-label nzFor="vagasDisponiveis">Vagas Disponíveis</nz-form-label>
                <nz-form-control>
                    <input type="number" nz-input formControlName="vagasDisponiveis" />
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="col-6">
            <nz-form-item>
                <nz-form-control>
                    Ativo:
                    <label *ngIf="anuncio == null" nz-checkbox [ngModel]="true" nzDisabled
                        [ngModelOptions]="{standalone: true}"></label>
                    <label *ngIf="anuncio!= null" nz-checkbox formControlName="ativo"></label>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>


    <nz-divider></nz-divider>

    <div class="text-right spacing-between">
        <button type="button" nz-button (click)="voltar()">
            <i nz-icon nzType="left"></i>
            Voltar
        </button>

        <button nz-button nzType="primary" [nzLoading]="loading">
            Salvar
        </button>
    </div>

</form>