.td-fit-content {
  width: 1px;
  white-space: nowrap;
}

.td-actions {
  width: 1px;
  white-space: nowrap;

  > * ~ * {
    margin-left: 0.5rem;
  }
}

.ant-table-thead {
  .ant-table-cell {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
  }
}

.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 0;
}

.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 0;
}


.table-transparent {
  .ant-table {
    background: transparent;
  }

  .ant-table-thead > tr > th {
    background: transparent;
  }
}
