// Color system
$blue:    #2c7be5;
$indigo:  #727cf5;
$purple:  #6b5eae;
$pink:    #ff679b;
$red:     #e63757;
$orange:  #cfab63;
$yellow:  #f6c343;
$green:   #00d97e;
$teal:    #02a8b5;
$cyan:    #39afd1;
$dark: #868181;
$dark-soft: #474545;

$white: #fff;
$gray-100: #f7f7fc;
$gray-200: #ededfa;
$gray-300: #e1e1f5;
$gray-400: #b5b5c0;
$gray-500: #9c9ca1;
$gray-600: #939399;
$gray-700: #5d5d61;
$gray-800: #444446;
$gray-900: #363535;
$black: $dark;

// Button themes
$primary: $orange;
$secondary: $gray-800;

$body-bg: $dark;
$body-color: $gray-200;

// Border
$border-color: $gray-800;

// Nav
$tabs-color: $gray-600;
$tabs-tab-active-color: $white;
$tabs-tab-hover-color: $gray-700;

// Input
$input-border-color: $gray-600;
