<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="menu-sidebar-children">

      <div class="sidebar-logo">
      </div>

      <ul
        nz-menu
        nzTheme="dark"
        nzMode="inline"
        [nzInlineCollapsed]="isCollapsed"
      >
        <li
          *ngFor="let menu of menus"
          nz-menu-item
          nzMatchRouter
          nzMatchRouterExact
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? menu.name : ''"
        >
          <a [routerLink]="[menu.link]">
            <i nz-icon [nzType]="menu.icon"></i>
            <span>{{ menu.name }}</span>
          </a>
        </li>

        <!-- <li nz-submenu nzTitle="Form" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Basic Form</a>
            </li>
          </ul>
        </li> -->
      </ul>

      <div class="mt-auto"></div>

      <div class="sidebar-user-info">
        <span class="sidebar-collapse-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'right' : 'left'"></i>
        </span>

        <div>
          <a nz-dropdown [nzDropdownMenu]="menu">
            <nz-avatar
              nz-dropdown
              nzIcon="user"
              [nzDropdownMenu]="menu"
            >
            </nz-avatar>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li class="px-3 py-2 border-bottom">
                <div>{{ usuario?.nome }}</div>
                </li>


              <li nz-menu-item (click)="onLogout()">
                <i nz-icon nzType="logout"></i> Sair
              </li>

            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </div>
  </nz-sider>

  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
