
<nz-tabset>
    <nz-tab nzTitle="Dados">

<form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="submit()">

    <div class="row">
        
        <div class="col-6">
            <nz-form-item>
                <nz-form-label>Selecione o Responsável:</nz-form-label>
                <nz-form-control>
                    <nz-select nzPlaceHolder="usuarios" nzShowSearch [nzOptions]="usuarios" nzSize="large"
                        style="width: 100%;" formControlName="usuarioResponsavelId">
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        


        <div class="col-6">
            <nz-form-item>
                <nz-form-label nzFor="valorAluguel">Valor Aluguel</nz-form-label>
                <nz-form-control>
                    <input type="number" nz-input formControlName="valorAluguel" />
                </nz-form-control>
            </nz-form-item>
        </div>

    </div>


    <nz-divider></nz-divider>

    <div class="text-right spacing-between">
        <button type="button" nz-button (click)="voltar()">
            <i nz-icon nzType="left"></i>
            Voltar
        </button>

        <button nz-button nzType="primary" [nzLoading]="loading">
            Salvar
        </button>
    </div>

</form>
</nz-tab>


<nz-tab nzTitle="Despesas" *ngIf="casa">

    <form nz-form nzLayout="vertical" [formGroup]="formDespesa">
        <div class="row">
            <div class="col-12">
                <nz-form-item>
                    <nz-form-label>Titulo</nz-form-label>
                    <nz-form-control>
                        <textarea type="text" nz-input formControlName="titulo" rows=1> </textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>

        </div>

        <div class="row">
        
            <div class="col-2">
                <nz-form-item>
                    <nz-form-label>Valor: </nz-form-label>
                    <nz-form-control>
                        <input type="number" nz-input formControlName="valor" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            
            <div class="col-2">
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label>Data</nz-form-label>
                        <br>
                        <nz-date-picker nzFormat="dd-MM-yyyy" formControlName="dataValidade" nzPlaceHolder="Data">
                        </nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>

           
           
            <div class="col-2">
                <nz-form-label></nz-form-label>
                <nz-form-control>
                    <button nz-button class="btn-secondary" [nzLoading]="loading" (click)="submitDespesa()">
                        Inserir
                    </button>
                </nz-form-control>
            </div>
        </div>

        <nz-table #innerTable [nzLoading]="loading" [nzData]="despesas" nzSize="middle"
        [nzShowPagination]="false">
        <thead>
            <tr>
                <th width="40%">Data Atribuida</th>
                <th width="40%">Data Validade</th>
                <th width="40%">Titulo</th>
                <th width="40%">Valor</th>
                <th width="5%">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let despesa of despesas">
                <td>{{ despesa.dataAtribuida | date:'dd/MM/yyyy' }}</td>
                <td>{{ despesa.dataValidade | date:'dd/MM/yyyy' }}</td>
                <td >{{ despesa.titulo }}</td>
                <td >{{ despesa.valor }}</td>
               <td><button nz-button nzSize="small" nz-tooltip nzTooltipTitle="Remover"
                        (click)="deleteDespesa(despesa.idDespesa)">
                        <i nz-icon nzType="delete"></i>
                    </button></td>
            </tr>
        </tbody>
    </nz-table>

    </form>


</nz-tab>


<nz-tab nzTitle="Inquilino" *ngIf="casa">


    <form nz-form nzLayout="vertical" [formGroup]="formInquilino">
  
    <div class="row">
        <div class="col-10">
            <nz-form-item>
                <nz-form-label>Selecione o inquilino:</nz-form-label>
                <nz-form-control>
                    <nz-select nzPlaceHolder="usuarios" nzShowSearch [nzOptions]="usuarios" nzSize="large"
                        style="width: 100%;" formControlName="inquilinoId">
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="col-2">
            <nz-form-label></nz-form-label>
            <nz-form-control>
                <button nz-button class="btn-secondary" [nzLoading]="loading" (click)="submitInquilino()">
                    Inserir
                </button>
            </nz-form-control>
        </div>
    </div>


    <nz-table #innerTable [nzLoading]="loading" [nzData]="inquilinos" nzSize="middle"
    [nzShowPagination]="false">
    <thead>
        <tr>
            <th width="40%">Inquilino</th>
            <th width="5%">Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let inquilino of inquilinos">
            <td >{{ inquilino.usuarioInquilino.nome }}</td>
           <td><button nz-button nzSize="small" nz-tooltip nzTooltipTitle="Remover"
                    (click)="deleteInquilino(inquilino.idInquilino)">
                    <i nz-icon nzType="delete"></i>
                </button></td>
        </tr>
    </tbody>
</nz-table>

    </form>

</nz-tab>

</nz-tabset>

